* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgb(177, 169, 169);
  text-align: center; 
}

header {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 300px;
  margin-top: -20px;
  left: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.096)),url(Hero_1466x300.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(236, 219, 219, 0.384);
  background-color: rgba(0,0,0,0)
}

#flickrPhotos {
  position: relative;
  border: 10px solid black;
  margin-top: .5em;
  height: 550px;
  width: 650px;
}

#flickrPhotoURL {
  color: rgba(0, 0, 255, 0.692);
  margin-top: -10px;
  text-decoration: underline;
}

/* All about them buttons */
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
  
#buttons {

}

a:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}

#previousButton:hover {
  background-color: rgb(87, 82, 82);
  color: black;
}

#nextButton:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}

#previousButton {
  background-color: rgb(245, 245, 245);
  box-shadow: 2px 4px 3px rgb(136, 136, 136),4px 6px rgb(136, 136, 136),6px 8px rgb(136, 136, 136),2px 4px rgb(136, 136, 136);
  color: black;
  height: 3em;
  width: 6em;
}
  
#nextButton {
  background-color: rgb(190, 155, 37);
  color: white;
  height: 3em;
  width: 6em;
  box-shadow: 2px 4px 3px rgb(136, 136, 136),4px 6px rgb(136, 136, 136),6px 8px rgb(136, 136, 136),2px 4px rgb(136, 136, 136)
} 
  
